*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

html,
body {
  outline: none;
}

body {
  font-family: "FontAwesome", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fbbf9a;
}

a {
  text-decoration: none;
}

img {
  outline: none;
}

.active-modal {
  overflow-y: hidden;
}
